#sent-result, #sent-fail{display : none;}
.list-group-item{display: flex; background-color: #ddf1ffdd; margin-bottom:10px;}
.delete-message{float:right;}
p.delete-wall, p.date{line-height: 5px;font-size: 12px;margin-left: 48px;}
#wall-delete-btn{color:red; cursor:pointer; font-size: 10pt;}